@model TheBugTracker.ViewModels.AssignPMViewModel

@{
    ViewData["Title"] = "Assign Project Manager";
}

<h1>Project: @Model.Project.Name</h1>

<h2>@ViewData["Title"]</h2>
<hr/>

<div class="row">
    <div class='col-md-4'>
        <form method="post" asp-action="AssignPM" asp-controller="Projects">
            <input type="hidden" asp-for="Project.Id" />

            <h2>@Model.Project.Name</h2>
            <p>@Model.Project.Description</p>
            
            <div class="form-group">
                <label class="control-label">Select Project Manager</label>
                <select asp-for="PMID" class="form-control" asp-items="@Model.ProjectManagerList">
                    <option>--- Select Project Manager ---</option>
                </select>
            </div>
            
            <input type="submit" value="Assign" class="btn-primary btn" />
        </form>
    </div>
</div>

<div>
    <a asp-action="UnassignedProjects">Back to list</a>
</div>